/* Imports Other CSS Styles  */
@import url(./utility-styles.css);
@import url(./navigation-styles.css);

/* Linking Local Font */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/open-sans-font.ttf') format('opentype');
}

/* CSS Variables */
:root {
  --app-gray-light-color: #C1C3C5;
  --app-gray-medium-color: #818283;
  --app-gray-dark-color: #2D2D2D;
  --app-white-color: #EAEDF3;
}

/* Reset Default HTML Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: var(--app-gray-dark-color);
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--app-white-color);
}
