/* Imports Other CSS Styles  */
@import url(./utility-styles.css);
@import url(./navigation-styles.css);
@import url(./card-styles.css);

/* Linking Local Font */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/open-sans-font.ttf') format('opentype');
}

/* CSS Variables */
:root {
  --app-gray-light-color: #C1C3C5;
  --app-gray-medium-color: #818283;
  --app-gray-dark-color: #2D2D2D;
  --app-white-color: #EAEDF3;
}

/* Reset Default HTML Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: var(--app-gray-dark-color);
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px; 
  color: var(--app-white-color);
}

.main-container {
  padding: 24px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 74px;
}

.section-title {
  font-size: 21px;
  color: var(--app-gray-light-color);
  margin-bottom: 1.5rem;
  line-height: 21px;
}

.count {
  padding: 2px 4px;
  border-radius: 20px;
  border: 0.5px solid var(--app-gray-light-color);
  color: var(--app-gray-light-color);
  font-size: 14px;
  line-height: 16px;
}
