/* Imports Other CSS Styles  */
@import url(./utility-styles.css);
@import url(./navigation-styles.css);
@import url(./card-styles.css);
@import url(./modal-styles.css);

/* Linking Local Font */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../fonts/open-sans-font.ttf') format('opentype');
}

/* CSS Variables */
:root {
  --app-gray-light-color: #C1C3C5;
  --app-gray-medium-color: #818283;
  --app-gray-dark-color: #2D2D2D;
  --app-white-color: #EAEDF3;
}

/* Reset Default HTML Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: var(--app-gray-dark-color);
  text-decoration: none;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px; 
  color: var(--app-white-color);
}

.main-container {
  padding: 24px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 74px;
}

.section-title {
  font-size: 21px;
  color: var(--app-gray-light-color);
  margin-bottom: 1.5rem;
  line-height: 21px;
}

.count {
  padding: 2px 4px;
  border-radius: 20px;
  border: 0.5px solid var(--app-gray-light-color);
  color: var(--app-gray-light-color);
  font-size: 14px;
  line-height: 16px;
}

.action-dropdown {
  background-color: var(--app-gray-medium-color);
  border-radius: 6px;
  border: 1px solid var(--app-gray-light-color);
  width: fit-content;
  overflow: hidden;
  box-shadow: 2px 2px 6px #00000099;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.action-dropdown > h4 {
  font-size: 13px;
  color: var(--app-gray-light-color);
  padding: 4px 8px;
  border-bottom: 1px solid var(--app-gray-medium-color);
  text-align: center;
}

.action-dropdown li {
  font-size: 12px;
  color: var(--app-gray-light-color);
  padding: 2px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.action-dropdown li:hover {
  font-size: 12px;
  color: var(--app-gray-light-color);
  padding: 2px 8px;
  cursor: pointer;
  background-color: #eaedf31b;
}
